@page "/{DrawsId}"
@layout MainLayout
@inject NavigationManager navigationManager

<div class="login-area">
    <div class="title">
        <h2>Enter Our Prize Draws to Win!</h2>
        <p>Sign up now to enter for a chance to win prizes from leading brands and retailers</p>
    </div>
    <AlertMessage Message="@message" MessageType="@messageType" />
    <div class="form-holder ">
        <EditForm Model="candidatesModel" OnValidSubmit="SaveCandidates">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <div class="form-group form-filds">
                    <input type="text" @bind="candidatesModel.Name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group form-filds">
                    <input type="text" @bind="candidatesModel.Email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group form-filds">
                    <input type="text" @bind="candidatesModel.PhoneNumber" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group form-filds">
                    <input placeholder="Date of Birth" class="form-control textbox-n" type="date" id="date"  @bind="candidatesModel.DateOfBirth" max="@maxDate" min="@minDate">
                </div>
                <div class="form-group form-filds">
                    <select class="form-control" @bind="candidatesModel.NationalityId">
                        <option value="0">Select Nationality</option>
                        @foreach (var item in nationalitiesList)
                        {
                            <option value="@item.NationalityId">@item.Name</option>
                        }
                    </select>
                </div>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-white btn-lg">Submit</button>
            </div>

            <div class="footer-section">
                <img src="images/win-with-routes.png" alt="win-with-routes.png" />
            </div>
        </EditForm>

    </div>
</div>

